@import "@styles/abstracts/colors";

.footer {
  background-color: color("gray-6");
  color: color("gray-3");
  padding-block: 2rem;
  padding-inline: max(calc(50vw - 500px), 10vw);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__icon {
    width: 4rem;
    height: 4rem;
  }
}

@media (max-width: 576px) {
  .footer {
    flex-direction: column;

    &__icon {
      margin-bottom: 2rem;
    }
  }
}