@import "@styles/abstracts/colors";

$navHeight: 3.5rem;


.nav {
  display: flex;
  position: fixed;
  width: 100%;
  height: $navHeight;
  justify-content: space-between;
  align-items: center;
  padding-inline: max(calc(50vw - 750px), 10vw);



  &__spacer {
    height: $navHeight;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
  }

  &__links > * {
    color: inherit;
    margin-left: 2rem;
    padding: 0.25rem 0.75rem;
    text-decoration: none;
  }
}