@import "@styles/abstracts/colors";



.nav {
  background-color: color("gray-6");
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.5rem;
  padding-inline: max(calc(50vw - 500px), 10vw);



  &__icon {
    width: 3rem;
    height: 3rem;
  }

  &__links > * {
    color: color("gray-2");
    margin-left: 2rem;
    padding: 0.25rem 0.75rem;
    text-decoration: none;
  }
}